DJANGO_SECRET_KEY=z2yMjhUzvt6hBnP
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=ec2-13-60-184-226.eu-north-1.compute.amazonaws.com
DJANGO_CSRF_TRUSTED_ORIGINS=http://ec2-13-60-184-226.eu-north-1.compute.amazonaws.com,http://13.60.184.226
SQLITE_PATH=/app/data/db.sqlite3
